<p>Please enter your search parameters</p>

<!-- <form [formGroup]="searchForm" [action]="searchUrl" method="GET" (ngSubmit)="onSubmit()">
    <div>
      <label for="searchBy">
        searchBy
      </label>
      <input id="searchBy" type="text" formControlName="searchBy">
    </div>
  
    <div>
      <label for="searchFor">
        searchFor
      </label>
      <input id="searchFor" type="text" formControlName="searchFor">
    </div>
  
    <button class="button" type="submit">Search</button>
  
</form> -->

<!-- This for really goes to /searchBooksResult page on click -->
<form #form action='http://localhost:4200/searchBooksResult' method="GET">
  <div>
    <label for="searchBy">
      searchBy
    </label>
    <!-- <input name="searchBy" type="text"> -->
    <select name="searchBy">
      <option value="isbn">ISBN</option>
      <option value="genre">Genre</option>
      <option value="author">Author</option>
      <option value="title">Title</option>
    </select>
  </div>
  <div>
    <label for="searchFor">
      searchFor
    </label>
    <input name="searchFor" type="text">
  </div>
  <button type="submit" class="button" (click)="form.submit()">Search</button>
</form>