<app-top></app-top>

<h4>Search Library</h4>

<div *ngFor="let x of searchTypes">
    <!-- create a radio button-->
    <input
    type="radio"
    name="dayOfTheWeek"
    value="{{x}}"
    (change)="radioChangeHandler($event)">
    <i>{{x}}</i>
</div>

<br><br>

<form id = "bar" #search="ngForm" (ngSubmit)="onClickSearch(search.value)"> 
    <input type="text" name="search" placeholder="search" ngModel> 
    <input type="submit" value="Search"> 
 </form>

 <div *ngFor="let item of searchResults" class="books" style="margin-bottom: 50px;">
        
    <img src="https://covers.openlibrary.org/b/isbn/{{item.isbn}}-M.jpg" />
    <ul>
    <li>isbn: {{item.isbn}}</li>
    <li>Title: {{item.title}}</li>
    <li>Publisher: {{item.publisher}}</li>
    <li>Language: {{item.language}}</li>
    <li>Pages: {{item.pages}}</li>
    <li>AuthorName: {{item.authorName}}</li>
    <li>Synopsys: {{item.synopsys}}</li>
    <li>Excerpt: {{item.excerpt}}</li>
    <li>TotalCopies: {{item.totalCopies}}</li>
    <li>AvalableCopies: {{item.avalableCopies}}</li>
    </ul>
    <div *ngIf="loggedIn"><button (click)="addBook(item)">add</button></div>
</div>